* {
    box-sizing: border-box;
 }

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: absolute;
    background-position: center center;
    background-size: cover;
    overflow: scroll;
    padding: 100px
}

.slider-container {
    position: absolute;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),  0 3px 6px rgba(0, 0, 0, 0.23);
    height: 70vh;
    width: 70vw;
    position: relative;
    
}

.slide {
    position: absolute;
    opacity: 0;
    height: 70vh;
    background-repeat: no-repeat;
    width: 70vw;
    background-position: center center;
    background-size: cover;
    /* top: -15vh;
    left: -15vw;  
    z-index: 1   */
}

.slide.active {
    opacity: 1;
}

.arrow {
    position: absolute; 
    bottom: 0px;
    background-color: transparent; 
    /* color: #fff; */
    padding: 20px;
    font-size: 30px;
    border: 2px solid orange;    
    transform: translateY(-50%);
    cursor: pointer;    
}

.arrow:focus
{
    outline: 0;
}

.left-arrow {
   left: calc(15vw - 70px);
   bottom: -150px;
}

.right-arrow {
    left: calc(20vw - 70px);
    bottom: -150px;
}

h1 {
    font-size: 100px;
}

/* .active {
    height: 1000px;
} */